			div { width: 256px; height: 192px; display: block; }
			img { width: 200px; height: 94px; }
<<<<<<< HEAD
		
=======
			table { border-style:dashed; }
>>>>>>> d66827e (changed border style to dashed)
		</style>
